@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', Sans-serif;
}

:root {

  --colorOne: #e9b34e;
  --colorTwo: #d36235;
  --colorFont: #975135;
  --colorLink: #fffddb;
  --colorTexture: #fcf1da;
  --colorContent:#fff;
}

body {
  background: var(--colorTexture)
}

a {
  text-decoration: none;
  color: var(--colorTwo);
  font-weight: bold;
  transition: 0.3s linear;

}

a:hover {
  color: var(--colorLink);
}

button {
  background: var(--colorTwo);
  color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s linear;
}

button:hover {
  cursor: pointer;
  background: var(--colorOne);
}