/*header*/
.header {
    background: var(--colorOne);
    color: var(--colorFont);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.floatbox {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 0;
    margin: 0;
}

.floatbox img {
    transition: 0.1s linear;
}

.floatbox:hover img {
    transform: scaleY(1.2)
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 10px;
    list-style: none;
    text-decoration: none;
}

.search {
    width: 50%;
}

.search form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background: #fff;
    padding: 2px;
    border-radius: 5px;
    height: 40px;
    justify-content: space-between;
}

.search form input {
    border: none;
    width: 91%;
    height: 100%;
    font-size: 16px;
}

.search form button {
    width: 40px;
    height: 40px;

}

/*section*/
.content,
.banner {
    background: var(--colorContent);
    margin: 5px;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 10px;

}

.content {
    display: flex;
}

.product {
    width: 25%;
    margin: 10px;
    background: var(--colorProduct);
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--colorFont);
    overflow: hidden;
    transition: 0.5s linear;
    position: relative;
}

.product::after {
    content:" ";
    position:absolute;
    color:#fff;
    top:0;
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.2s linear;
}


.product img {
    width: 100%;
    transition: 0.2s linear;
}

.product span {
    font-size: 18px;
    font-weight: bold;
}

.product svg {
    width: 12px;
}
.product:hover {
    transform: rotate(3deg);
    cursor: pointer
}
.product:hover img {
    margin: auto;
    transform: scale(2)
}
.product:hover::after{
    background:var(--colorInfo);
    content: attr(data-resume);
    box-sizing: border-box;
    padding: 10px;
}

.banner {
    min-height: 300px;
    background-size: cover;
    background-position-y: 50%;
    position: relative;
    transition: 0.5s ease-out;
}

.banner h2 {
    text-align: center;
    color: #fff;
    font-size: 42px;
    text-shadow: 2px 2px var(--colorFont);
    z-index: 100 !important;
}